.footer{padding:2rem 6rem;background-color:#000;}
.main a{font-size: 1rem !important;text-transform: uppercase;line-height: 41px !important;}
.footer ul li a{color:#fff;text-decoration:none;font-size:0.8rem;line-height:23px;}