<div class="footer">
    <div class="row">
        <div class="col-lg-2 col-sm-12">
            <ul>
                <li class="main">
                    <a href="#">CloudFm</a>
                </li>
                <li>
                    <a href="#">CloudFm Group</a>
                </li>
                <li>
                    <a href="#">Copyright @2019</a>
                </li>
            </ul>
        </div>
        <div class="col-lg-2 col-sm-12">
            <ul>
                <li class="main">
                    <a href="#">Main</a>
                </li>
                <li>
                    <a href="#">Home</a>
                </li>
                <li>
                    <a href="#">Services</a>
                </li>
                <li>
                    <a href="#">Facalities Management</a>
                </li>
                <li>
                    <a href="#">Technical consultancy</a>
                </li>
                <li>
                    <a href="#">Tech Solutions</a>
                </li>
                <li>
                    <a href="#">About</a>
                </li>
                <li>
                    <a href="#">Our Client</a>
                </li>
                <li>
                    <a href="#">Carrier</a>
                </li>
                <li>
                    <a href="#">News</a>
                </li>
                <li>
                    <a href="#">Contact</a>
                </li>
            </ul>
        </div>
        <div class="col-lg-2 col-sm-12">
            <ul>
                <li class="main">
                    <a href="#">Others</a>
                </li>
                <li>
                    <a href="#">Become a Partner</a>
                </li>
                <li>
                    <a href="#">Resource</a>
                </li>
                <li>
                    <a href="#">System Status</a>
                </li>
                <li>
                    <a href="#">Queens Award</a>
                </li>
            </ul>
            <ul>
                <li class="main">
                    <a href="#">Policies</a>
                </li>
                <li>
                    <a href="#">Cookies and privacy Policy</a>
                </li>
                <li>
                    <a href="#">Modern slavery policy</a>
                </li>
            </ul>
        </div>
        <div class="col-lg-2 col-sm-12">
            <ul>
                <li class="main">
                    <a href="#">HelpDesk</a>
                </li>
                <li>
                    <a href="#">00000000000</a>
                </li>
            </ul>
            <ul>
                <li class="main">
                    <a href="#">Email</a>
                </li>
                <li>
                    <a href="#">info@hotmail.com</a>
                </li>
            </ul>
            <ul>
                <li class="main">
                    <a href="#">social</a>
                </li>
                <li>
                    <a href="#">f dumy</a> &nbsp; &nbsp;
                    <a href="#">t dumy</a> &nbsp; &nbsp;
                    <a href="#">in dumy</a>
                </li>
            </ul>
        </div>
        <div class="col-lg-2 col-sm-12">
            <ul>
                <li class="main">
                    <a href="#">HeadOffice</a>
                </li>
                <li>
                    <a href="#">xyz 1234 california,</a>
                </li>
            </ul> 
        </div>
        <div class="col-lg-2 col-sm-12">
            <ul>
                <li class="main">
                    <a href="#">Queens Award</a>
                </li>
                <li>
                    <a href="#">Logo not present</a>
                </li>
            </ul> 
        </div>
    </div>
</div>