<div class="owl-slider cardlider">
    <h2> Who we work with</h2>
    <div id="carousel" class="owl-carousel">
        <owl-carousel [options]="SlideOptions">
            <div class="item" *ngFor="let img of Images">
                <img src={{img}} alt="">
            </div>
        </owl-carousel>
    </div>
</div>

<div class="container clientComp wntmar">
    <div class="row clientWants wntmar">
    <div class="col-lg-6 col-sm-12 wnt">
        <h2>Let's Talk</h2>
    </div>
    <div class="col-lg-6 col-sm-12 wnt">
        <p class="m-0 p-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi omnis qui
            distinctio.Lorem ipsum dolor
            sit amet, consectetur adipisicing elit. Animi omnis qui distinctio.</p>
        <a href="#" class="btn btn-outline-primary getinTOuch my-4">Contact Us</a>
    </div>
    </div>
</div>