<nav class="navbar navbar-dark navCustom">
    <a class="navbar-brand" href="#">CloudFirm</a>
    <button class="navbar-toggler float-right" type="button" data-toggle="collapse" data-target="#navbarsExample01"
        aria-controls="navbarsExample01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExample01">
        <div class="container">
            <ul class="navbar-nav mr-auto col-lg-6 col-sm-8">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown01" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">Services</a>
                    <div class="dropdown-menu" aria-labelledby="dropdown01">
                        <a class="dropdown-item" href="#">Facilities Management</a>
                        <a class="dropdown-item" href="#">Technical Consultancy</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#">About us <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#">Our Clients <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#">Careers <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#">News <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#">Contact <span class="sr-only">(current)</span></a>
                </li>
            </ul>
            <ul class="navbar-nav mr-auto col-lg-6 col-sm-4 navContent">
                <li>
                    <ul>
                        <li class="main">
                            <span>Helpdesk</span>
                        </li>
                        <li>
                            <span>000000000</span>
                        </li>
                    </ul>
                </li>
                <li>
                    <ul>
                        <li class="main">
                            <span>Email</span>
                        </li>
                        <li>
                            <span>abc@hotmail.com</span>
                        </li>
                    </ul>
                </li>
                <li>
                    <ul>
                        <li class="main">
                            <span>Head Office</span>
                        </li>
                        <li>
                            <span>abc xyz kath oa</span>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>