// $font_M: 'Muli',
// sans-serif;
$font_M: 'Source Sans Pro', sans-serif;
$white: #ffffff;
$white70 :#c7c7c7;
$black: #000000;
$primary: #ff5d22;
$thm_c: #ff5d22;
$thm_b: #222832;
$thm_lb: #2f343d;
//----- css ---------
$theme_color:#31353f;
$status_success: #007600;
$status_danger: #b92828;
$auth_field_bg:#2d333d;
$thm_field_clr:#d1d2d2;
$auth_btn_hover:#47515c;
$side_bg:#f2f2f2;
$ink-bar:#e1c8ab;
$label: #6b0707;
$form-border: #ced4da;
$slot_tabs: #3b20b7;
$side_border: #eaeaf4;
$red_theme_color:#b92828;
$orange_theme_color: orange;
$green_theme_color: rgb(21 164 4);
$resume-header: #2f343d;
$resume_hdr_bdr:#44474d;
$user_border:#b9b9b9;
$user-badge: #ffa000;
$resumeTabsBorder:#434853;
$progressBox:#2a303a;
$progressStatusGood:#6aff6a;
$mile_progressBar:#8000ff;
$mile_border:#373e48;

/*END*/