<div class="content">
   <div class="site-blocks-cover container">
        <div class="img-wrap">
            <div class="owl-carousel slide-one-item hero-slider">
                <owl-carousel [options]="SlideOptions" [items]="Images">
                    <div class="slide" *ngFor="let img of Images">
                        <img src={{img}} alt="Free Website Template by Free-Template.co">
                    </div>
                </owl-carousel>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-6 ml-auto align-self-center">
                    <div class="intro">
                        <div class="heading">
                            <h1 class="text-white font-weight-bold">Risk Less Expect More</h1>
                        </div>
                        <div class="heading">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi omnis qui distinctio.</p>
                            <p><a href="#" class="btn btn-outline-primary btn-md btn-pill">Discover Our Services</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>