<div class="container clientComp">
<div class="row">
        <div class="col-lg-4 col-sm-12 col-md-12 p-5 clientComptxt">
            <span> Our CLients </span>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi omnis qui distinctio.Lorem ipsum dolor
                sit amet, consectetur adipisicing elit. Animi omnis qui distinctio.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi omnis qui distinctio.Lorem ipsum dolor
                sit amet, consectetur adipisicing elit. Animi omnis qui distinctio.
            </p>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-8">
            <div class="accordian">
                <ul>
                    <li>
                        <div class="image_title">
                            <a href="#">TUI GROUP</a>
                        </div>
                        <a href="#">
                            <img src="http://thecodeplayer.com/uploads/media/3yiC6Yq.jpg" />
                        </a>
                    </li>
                    <li>
                        <div class="image_title">
                            <a href="#">Toy Story 2</a>
                        </div>
                        <a href="#">
                            <img src="http://thecodeplayer.com/uploads/media/40Ly3VB.jpg" />
                        </a>
                    </li>
                    <li>
                        <div class="image_title">
                            <a href="#">Wall-E</a>
                        </div>
                        <a href="#">
                            <img src="http://thecodeplayer.com/uploads/media/00kih8g.jpg" />
                        </a>
                    </li>
                    <li>
                        <div class="image_title">
                            <a href="#">Up</a>
                        </div>
                        <a href="#">
                            <img src="http://thecodeplayer.com/uploads/media/2rT2vdx.jpg" />
                        </a>
                    </li>
                    <li>
                        <div class="image_title">
                            <a href="#">Cars 2</a>
                        </div>
                        <a href="#">
                            <img src="http://thecodeplayer.com/uploads/media/8k3N3EL.jpg" />
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>