<div class="container clientComp">
    <div class="row">
        <div class="col-lg-4 col-sm-12 col-md-12 p-5 clientComptxt">
            <span> Our CLients </span>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi omnis qui distinctio.Lorem ipsum dolor
                sit amet, consectetur adipisicing elit. Animi omnis qui distinctio.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi omnis qui distinctio.Lorem ipsum dolor
                sit amet, consectetur adipisicing elit. Animi omnis qui distinctio.
            </p>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-8">
            <div class="accordian">
                <ul>
                    <li *ngFor="let cData of clientData">
                        <div class="image_title">
                            <a href="#" class="titleName">{{cData.clientName}}</a>
                            <p>{{cData.clientWork}}</p>
                            <a href="#" class="btn btn-outline-primary btn-pill">See Client Work</a>
                        </div>
                        <a href="#">
                            <img src={{cData.img}} />
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="row clientWants wnt">
        <div class="col-lg-6 col-sm-12 wnt">
            <h2>Want More?</h2>
        </div>
        <div class="col-lg-6 col-sm-12 wnt">
            <p class="m-0 p-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi omnis qui
                distinctio.Lorem ipsum dolor
                sit amet, consectetur adipisicing elit. Animi omnis qui distinctio.</p>
            <a href="#" class="btn btn-outline-primary getinTOuch my-4">Get In Touch</a>
        </div>
    </div>
</div>